<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <title>Portafolio</title>
</head>

<body style="margin: 20px;">

    <div class="text">
        <h2>Portafolio</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Temporibus iure nemo in doloribus. Quos, doloribus quam
            dolor veritatis et aut reiciendis eius voluptate sequi,
            minima sed quia, porro quis dignissimos?</p>
    </div>

    

    <div class="cardprojects">

        <div class="card-group">

            <div class="card" style="border: none;">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/200/300" class="card-img-top" style="width: 250px; height: 150px">
                    <div class="card-body">
                        <h5 class="card-title" style="color: blue;">Project X</h5>
                        <p class="card-text">
                        <div class="20">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Aspernatur eaque, accusantium odio natus itaque laudantium blanditiis.
                        </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card" style="border: none;">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/200/302" class="card-img-top" style="width: 250px; height: 150px">
                    <div class="card-body">
                        <h5 class="card-title" style="color: blue;">Project Y</h5>
                        <p class="card-text">
                        <div class="20">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Aspernatur eaque, accusantium odio natus itaque laudantium blanditiis.
                        </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card" style="border: none;">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/200/304" class="card-img-top" style="width: 250px; height: 150px">
                    <div class="card-body">
                        <h5 class="card-title" style="color: blue;">Project Z</h5>
                        <p class="card-text">
                        <div class="20">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Aspernatur eaque, accusantium odio natus itaque laudantium blanditiis.
                        </div>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>